@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Press+Start+2P&display=swap');

:root {
  --color-background: #0e153a;
  --color-background-header: #3d5af1;
  --color-whitegray: #f0f0f0;
  --color-primary: #00D4FF;
  --color-secundary: #FF304F;
  --color-title: #FFFFFF;
  --color-logotext: #071E3D;
}
* {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: #caf0f8;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  width: 100vw;
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secundary);
}

.container {
  max-height: 100vh;
  max-width: 100vw;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}
