.main-header {
  background-color: var(--color-background-header);
  display: flex;
  padding: 14px 40px;
}

.logo-text {
  font-size: 22px;
  margin-left: 16px;
}

.logo-text-1 {
  color: var(--color-logotext);
  font-weight: 900;
  margin-right: 6px;
}

.logo-text-2 {
  color: var(--color-title);
}

@media (max-width: 850px) {
  .main-header {
    justify-content: center;
  }
}